/* simple selector */
body {
  background-color: rgb(253, 243, 223);
}
header {
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  background-color: rgb(192, 149, 233);
}
footer {
  margin-top: 70px;
  margin-bottom: 70px;
}
p,
h1 {
  padding: 10px;
  margin: 0%;
}
section {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
}
